{% extends "Layout.html" %}

{% block content %}

<body>
    <header>
        <div class="container">
            <h1 class="title">EPOS</h1>
        </div>
    </header>

    <main class="hero-section">
            <div class="section-content">
                <h2>Client Name</h2>
                    <img src="../static/img/GreatEscape_1.png" alt="GE Icon" style="width:100px;height:100px;">
                    <a href="#" class="btn-primary">Great Escape</a>
                    <br />
                    <img src="../static/img/PulpFiction_1.png" alt="PF Icon" style="width:100px;height:100px;">
                    <a href="#" class="btn-primary">Pulp Fiction</a>
                    <br />
            </div>
    </main>
</body>


{% endblock %}