{% extends "Layout.html" %}

{% block content %}

<body>
    <header>
        <div class="container">
            <h2 class="title">Operations Tasks</h2>
        </div>
    </header>

    <main class="hero-section">
        <div class="section-content">
            <h2>Invest</h2>
                <a href="#" class="btn-primary">EPOS</a>
                <br />
                <a href="#" class="btn-primary">Base Volumes</a>
                <br />
                <a href="#" class="btn-primary">Invoice Actuals</a>
                <br />

            <h2>Radar</h2>
                <a href="#" class="btn-primary">NPD</a>
                <br />
                <a href="#" class="btn-primary">Time Category Copyover</a>
                <br />
                <a href="#" class="btn-primary">FX Rates</a>
                <br />

                <div class="clearfix"></div>
        </div>

    </main>
{% endblock %}