<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <img src="../static/img/Acumen_1.png" alt="Acumen Logo" align="left" style="width:150px;height:150px;">
            <h3 class="title">Product Team</h3>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>